@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

$text: #353535;
$header: #eee;
$active: #c8d69a;
$warning: #f86254;

@mixin hyphens { -moz-hyphens: auto; -webkit-hyphens: auto; -o-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }

@mixin border-box { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
                    -ms-box-sizing: border-box; box-sizing: border-box; }

@mixin transition($attr, $dur) { -moz-transition: $attr $dur; -moz-transition: $attr $dur; -moz-transition: $attr $dur;
                                 -moz-transition: $attr $dur; -moz-transition: $attr $dur; }

@mixin button-detail($color) { background-color: $color; border-color: darken($color, 20%);
                               background-image: -moz-linear-gradient(transparent 50%, darken($color, 5%) 50%);
                               background-image: -webkit-linear-gradient(transparent 50%, darken($color, 5%) 50%);
                               background-image: -o-linear-gradient(transparent 50%, darken($color, 5%) 50%);
                               background-image: -ms-linear-gradient(transparent 50%, darken($color, 5%) 50%);
                               background-image: linear-gradient(transparent 50%, darken($color, 5%) 50%);
                               box-shadow: inset 1px 0 lighten($color, 10%), inset -1px -1px lighten($color, 10%),
                               inset 0 1px 0 lighten($color, 20%); }

* { @include transition((background-color, color), 1s); }

@media screen {

  body { background-color: #f5f5f5; font: 300 16px/28px "open sans", arial, sans-serif; color: $text; }
  hr   { margin: -1px .875em; border: 1px dashed; border-color: #ddd #fff #fff #ddd; clear: both; }
  a    { text-decoration: none; color: inherit; }

  /* text */
  p { 
    margin: 1.75em 0; padding: 0 0.875em; font-size: 1em; line-height: 1.75em; text-align: justify; @include hyphens;

    b { font-weight: 400; }
    a { text-decoration: underline; }
    small { font-size: 0.875em; line-height: 2em; display: block; }
  }

  /* headers */
  header {
    h1 { margin: 0.875em 0; padding: 0 0.4375em; font-size: 2em; line-height: 1.75em; font-weight: 400; text-align: center;
         text-transform: lowercase; }
    h2 { margin: 1.167em 0; padding: 0 0.5835em; font-size: 1.5em; line-height: 2.334em; text-align: center; }
    p  { margin: 2em 0; padding: 0 1em; font-size: 0.875em; line-height: 2em; }
  }

  /* forms */
  form  {
    margin: .875em 0;

    fieldset {
      legend { display: none; }

      ol {
        li {
          margin: .875em 0; padding: 0 .875em;

          label { display: none; }
          input {
            width: 100%; height: 3em; padding: 0; border: 1px solid #ddd; border-radius: 4px; 
            font: 400 .875em "open sans", arial, sans-serif; text-align: center;
            @include border-box;

            &[type="submit"] { text-shadow: 0 1px 0 $active; color: darken($active, 50%); cursor: pointer; 
                               @include button-detail($active); }

            &:focus { color: $text; }
          }
        }
      }
    }
  }

  ::-webkit-input-placeholder { color: #ccc; } 

  #welcome-msg { width: 100%; padding: 0 1em; font-size: 0.875em; line-height: 2em; background-color: $text;
                 text-align: right; color: #f5f5f5; position: absolute; top: 0; @include border-box; }

  #error,
  #notice { 
    margin: .8125em 0; border-style: solid; overflow: hidden;

    p { margin: 0; padding: .8125em .875em; text-align: center; }
  }

  #error { 
    background-color: $warning; border-color: darken($warning, 20%); border-width: 1px 0; 
    box-shadow: inset 0 -1px 0 lighten($warning, 10%), inset 0 1px 0 lighten($warning, 10%); 

    p { color: #f5f5f5; }
  }

  #notice { 
    background-color: $active; border-color: darken($active, 20%); border-width: 1px 0; 
    box-shadow: inset 0 -1px 0 lighten($active, 10%), inset 0 1px 0 lighten($active, 10%);

    p { color: darken($active, 50%); }
  }

  #banner {
    background-color: $header; overflow: hidden;

    hgroup{
      h1 { margin: 0.66666em 0; padding: 0 0.33333em; font-size: 2.625em; line-height: 2em; }
      h2 { margin: -2em 0 2em; padding: 0 1em; font-size: 0.875em; line-height: 2em; color: lighten($text, 10%); }
    }
  }

  #footer {
    background-color: #fff; overflow: hidden;

    p { margin: 0; padding: .875em; text-align: center; }
  }
}

@media screen and (min-width: 37.5em) {

  #login-wrapper { 
    width: 75%; margin: .825em auto; background-color: #eee; border: 1px solid #ddd; border-radius: 4px; 
    box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff; @include border-box;

    header h1 { margin: .4375em 0; }
    form { margin-bottom: 0; }
  }

  #footer p { text-align: right; }

}

@media screen and (min-width: 62em) {

  #banner hgroup { 
    width: 25%; float: left;

    h1, h2 { text-align: left; }
  }

}